{% extends "layouts/base.html" %}

{% block title %} EDİT TASK {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div >
    <div class="row">
        <div class="col md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h3 class="card-title">EDIT TASK</h3>
                </div>
                
                <div class="card-body">
                   
                    <form id="task-form">
                        <div class="form-group"> <label for="task">Tasks</label> <input type="list" class="form-control" name="task" id="task" > </div> 
                        <button type="submit" class="btn btn-primary pull-right">Update</button>
                        <div class="clearfix"></div>
                    </form>
                       
                       
                    <div class="form-group"> <label for="filter">Tasks</label> <input type="list" class="form-control" name="filter" id="filter" > </div>
                        <div>
                            <ul class="list-group pr-0">
                             <!-- <li class="list-group-item d-flex align-items-center"> Task 1 <i class="fas fa-times text-danger mr-auto delete-item"></i> </li> -->
                            </ul>
                        </div> 
                        <button type="submit" class="clear-tasks btn btn-danger mt-3 pull-right"> Delete Tasks</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
