{% extends "layouts/base.html" %}

{% block title %} Task List {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}



<div class="row">   
    <div class="col-sm-2">
        <div class="mt-0 text-sm text-[#8ea6c8] flex justify-between items-center">
            <p class="set_date">Thursday 28 May</p>
            <p class="set_time">8:00 AM</p>
        </div>

    </div>
    <div class="col-sm-10">
            <button type="button" class="btn btn-secondary" data-toggle="tooltip"  title="Sunday">
                Sunday
              </button>
              <button type="button" class="btn btn-secondary" data-toggle="tooltip"  title="Monday">
                Monday
              </button>
              <button type="button" class="btn btn-secondary" data-toggle="tooltip" title="Tuesday">
                Tuesday
              </button>
              <button type="button" class="btn btn-secondary" data-toggle="tooltip"  title="Wednesday">
                Wednesday
              </button>
              <button type="button" class="btn btn-secondary" data-toggle="tooltip"  title="Thursday">
                Thursday
              </button>
              <button type="button" class="btn btn-secondary" data-toggle="tooltip"  title="Friday">
                Friday
              </button>
              <button type="button" class="btn btn-secondary" data-toggle="tooltip" title="Saturday">
                Saturday
              </button>
            
        
            
             
        </div>
    </div>

</div> 
<div class="row">
  <div class="col md-12">
    <div class='card'>
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Daily Tasks</h4>
      </div>

    <div class='card-body'>
        <div class="row">
        </div>

      <div class='table-responsive'>
        <table class='table table-hover'>
          <thead class=''>
            <tbody>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" checked>
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td>Sign contract for "What are conference organizers afraid of?"</td>
                   <td></div>
                        <span class="badge badge-pill badge-info ">7:00 AM-10:00 AM</span>
                  </div></td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                      <i class="material-icons">edit</i>
                    </button>
                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                      <i class="material-icons">close</i>
                    </button>
                  </td>

                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" checked>
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td>Create 4 Invisible User Experiences you Never Knew About</td>
                  <td></div>
                        <span class="badge badge-pill badge-info">9:00 AM</span>
                  </div></td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                      <i class="material-icons">edit</i>
                    </button>
                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
              </tbody>


        </table>


      </div>
    

    </div>
        

    </div>

  </div>

</div>

 <!-- Create daily todo section -->
 <div class="row md-1 p-3">
    <div class="col col-11 mx-auto">
        <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center">
            <div class="col">
                <input class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded" type="text" placeholder="Add new ..">
            </div>
            <div class="col-auto m-0 px-2 d-flex align-items-center">
                <button type="button" rel="tooltip" title="set schedule" class="btn btn-primary btn-link btn-left">
                <i class="material-icons">schedule</i>
                
            </div>
            <div class="col-auto px-0 mx-0 mr-2">
                <button type="button" class="btn btn-primary">Add</button>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
